.p2r(@name, @px){
    @{name}: @px / 75 * 1rem;
}

a, a:link, a:hover {
    text-decoration:none !important;
    color:inherit;
}

html, body {
    height:100vh;
    background-color:#ffffff;
    margin:0;
    padding:0;
    font-family:PingFangSC-Medium, Microsoft YaHei, sans-serif;
}

.categoryNav {
    .p2r(margin-left,50);
    .p2r(margin-right,50);
    .p2r(margin-top,40);
    .p2r(margin-bottom,10);

    display:flex;
    flex-flow:row wrap;
    align-items:center;
    justify-content:space-between;
}

.categoryItem {
    width:25%;
    text-align:center;
    .p2r(font-size,24);
    color:#666666;
}

.categoryItem > img {
    object-fit:contain;
    .p2r(width, 96);
    .p2r(height,96);
    .p2r(margin-bottom, 20);
}

.categoryItem > p {
    .p2r(margin-bottom,30);
}


.vSpacer20 {
    background-color:#f5f5f5;
    .p2r(height,20);
}

.title1 {
    display:table;
    margin:0 auto;
    .p2r(height,80);
    .p2r(line-height,80);
    text-align:center;
    vertical-align:middle;
    .p2r(font-size,28);
    color:#999999;
    border-spacing:10px 0;
}

.title1:before,
.title1:after{
    display:table-cell;
    content:'';
    .p2r(width,30);
    /* background: #999999; */
    /* .p2r(height,2); */
    background: -webkit-linear-gradient(#999999,#999999) repeat-x left center;
    background: linear-gradient(#999999,#999999) repeat-x left center;
    background-size: 1px 1px;
    .p2r(margin-left,10);
    .p2r(margin-right,10);
}

.hline30 {
    display:inline-block;
    .p2r(width,30);
    .p2r(height,2);
    background-color:#999999;
    .p2r(margin-left,10);
    .p2r(margin-right,10);
}

.navBarText {
    display:flex;
    text-align:center;
    align-items:center;
    .p2r(height,80);
    background-color:#f5f5f5;
}

.navBarText > .item {
    .p2r(font-size,28);
    .p2r(height,80);
    .p2r(line-height,80);
    flex-grow:1;
}

.navBarText > .active {
    color:#f35e3e;
    border-bottom:4px solid;
}