.p2r(@name, @px){
    @{name}: @px / 75 * 1rem;
}

a, a:link, a:hover {
    text-decoration:none !important;
    color:inherit;
}

html, body {
    height:100vh;
    margin:0;
    padding:0;
    font-family:PingFangSC-Medium, Microsoft YaHei, sans-serif;
}

/* ul */
.shopItemList {
    .p2r(margin,30);
}

/* li */
.shopItem {
    display:flex;
    justify-content:center;
    align-items:center;

    .p2r(margin-top,0);
    .p2r(margin-bottom,0);
    .p2r(padding-top,20);
    .p2r(padding-bottom,20);
}

.shopItem + .shopItem {
    /* border-top: 1px solid; */
    border-top: 0.0133333333333333rem solid;
}

.shopItemLogo {
    .p2r(margin-right,30);
    .p2r(width,180);
}

.shopItemLogo > img {
    object-fit:contain;
    width:100%;
    border-radius:8px;
    -webkit-border-radius:8px;
}

.shopItemTextContents {
    flex-grow:1;
}

.shopItemName {
    .p2r(font-size,32);
    display:inline-block;
    vertical-align:middle;
    .p2r(margin-right,20);
    line-height:100%;
}

.shopItemHot {
    display:inline-block;
    vertical-align:middle;
    .p2r(height,32);
    .p2r(width,32);
}

.shopItemStar {
    .p2r(margin-top,10);
    .p2r(margin-right,20);
    .p2r(margin-bottom,5);
}

.shopItemHot > img {
    object-fit:contain;
    height:100%;
}

.shopItemDistance, .shopItemDistance > p, .shopItemFree {
    display:inline-block;
    vertical-align:middle;
    line-height:100%;
}

.shopItemDistance > p {
    margin:0;
    .p2r(margin-left,5);
    .p2r(margin-right,10);
}

.shopItemDistance > img {
    object-fit:contain;
    .p2r(height,32);
}

.inline {
    display:inline-block;
}

.shopItemFree {
    .p2r(padding-left, 14);
    .p2r(padding-right,14);
    .p2r(padding-top,10);
    .p2r(padding-bottom,10);

    color:#ffffff;
    background-color:#f35e3e;
    border-radius:4px;
    -webkit-border-radius:4px;
}

.shopItemLuckyBtn {
    .p2r(width,154);
    .p2r(height,54);
    .p2r(line-height,54);
    .p2r(font-size,28);

    color:#f35e3e;
    border:2px solid;
    border-radius:8px;
    -webkit-border-radius:8px;
    text-align:center;
    align-self:flex-end;
}

.lr {
    display:flex;
    justify-content:space-between;
    width:100%;
}

.shopItemTag {
    .p2r(margin-bottom,10);
}

.shopItemStar, span.stars, span.stars span {
    .p2r(height,32);
}

.shopItemStar {
    display:flex;
    align-items:center;
}

span.stars {
    display:inline-block;
    background: url("../images/star_gray.png") 0 0 repeat-x;
    background-size:auto 100%;
    .p2r(width, 160);
}

span.stars span {
    display:inline-block;
    background: url("../images/star.png") 0 0 repeat-x;
    background-size:auto 100%;
}