/** default 16px 
+ -------------------+
| px | rem           |
+ -------------------+
| 12 | 12/16 = .75   |
| 14 | 14/16 = .875  |
| 16 | 16/16 = 1     |
| 18 | 18/16 = 1.125 |
| 20 | 20/16 = 1.25  |
| 24 | 24/16 = 1.5   |
| 30 | 30/16 = 1.875 |
| 36 | 36/16 = 2.25  |
| 42 | 42/16 = 2.625 |
| 48 | 48/16 = 3     |
+ -------------------+
*/

html {
    font-size: 16px;
}

.nav{ overflow: hidden; background: #fafafa; padding: 0px;}
.nav li{ float: left; width: 25%; text-align: center; padding:0px;}
.nav li a{ color: #666; text-decoration: none;}
.nav li img{ width: 50%;}
.nav li p{ font-size: 1.5rem;}

/* .underborder .active a, */
/* .underborder .active a:hover { */
/*     background-color: red; */
/* } */

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: white !important;
    color: #f35e3e !important;
    border-bottom-style: solid ;
}

@media (min-width: 0px) {
    .nav-justified > li {
        display: table-cell !important;
        width: 1%;
    }
}

.reward{
    border:1px solid #FE5D72;
    border-radius:5px;
    text-align:center;
    float: right;
    margin-top: -5px;
    padding: 0px 10px;
}

.checkCoupon{
    border:1px solid white;
    border-radius:6px;
    float: right;
    color:white;
    padding:5px;
}

span.stars, span.stars span {
    display: inline-block;      /* inline-block to no new line after, block makes new line after it */
    background: url(../images/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}


.container {
    padding-right: 0; /*15px in bootstrap.css*/
    padding-left: 0;  /*idem*/
    margin-right: auto;
    margin-left: auto;
}

img.footerImage {
    max-height: 2rem;
    margin-top:-1rem;
    margin-bottom:0rem;
    padding-bottom:0rem;
    padding-top:0rem;
}

p.footerP {
    font-size:1.5rem;
    margin-top:-2.2rem;
    padding-top:0rem;
}

p.footerPActive {
    color:#f35e3e;
}

a:hover, .a:hover {
    text-decoration:none !important;
}

a.footerA:hover, a.footerA {
    color: #999999;
}