a,
a:link,
a:hover {
  text-decoration: none !important;
  color: inherit;
}
html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: PingFangSC-Medium, Microsoft YaHei, sans-serif;
}
/* ul */
.shopItemList {
  margin: 0.4rem;
}
/* li */
.shopItem {
  display: flex;
  justify-content: flex-start;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 0.26666667rem;
  padding-bottom: 0.26666667rem;
}
.shopItem + .shopItem {
  border-top: 1px solid;
}
.shopItemLogo {
  margin-right: 0.4rem;
  width: 2.4rem;
}
.shopItemLogo > img {
  object-fit: contain;
  width: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
}
.shopItemName {
  font-size: 0.42666667rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.26666667rem;
  line-height: 100%;
}
.shopItemHot {
  display: inline-block;
  vertical-align: middle;
  height: 0.42666667rem;
  width: 0.42666667rem;
}
.shopItemHot > img {
  object-fit: contain;
  height: 100%;
}
.shopItemDistance,
.shopItemDistance > p,
.shopItemFree {
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
}
.shopItemDistance > p {
  margin: 0;
}
.inline {
  display: inline-block;
}
