a,
a:link,
a:hover {
  text-decoration: none !important;
  color: inherit;
}
html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: PingFangSC-Medium, Microsoft YaHei, sans-serif;
}
.header {
  margin-top: 0.06666667rem;
  width: 100%;
  background: url("../images/dianpu_img_bg@3x.png") no-repeat center center;
  background-size: 100% 100%;
  height: 4rem;
  /* display:flex; */
  /* display:-webkit-flex; */
  /* align-items:center; */
}
#header1Wrapper {
  margin: auto;
}
.header1 {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.avatar {
  margin-top: 0.4rem;
  width: 1.52rem;
  height: 1.52rem;
}
.avatarImg {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  object-fit: fill;
  border: 5px solid;
  border-color: #ffffff;
  border-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
}
.name {
  margin-top: 0.26666667rem;
  color: #aaaaaa;
  font-size: 0.37333333rem;
}
#favoriteWrapper {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  justify-content: space-around;
}
.phantom {
  visiblility: hidden;
}
.favorite {
  margin-top: 0.13333333rem;
  padding: 0.06666667rem;
  padding-left: 0.26666667rem;
  padding-right: 0.26666667rem;
  color: #eeeeee;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  background: #f35e3e;
  /* /\* position:absolute; *\/ */
  /* left:50%; */
  /* transform:translate(-50%,0); */
}
.favoriteUsers {
  position: absolute;
  /* position:element("#header1Wrapper"); */
  /* transform:translateX(100%); */
  /* .p2r(margin-top,10); */
  padding-bottom: 0.06666667rem;
  /* .p2r(left,50); */
  left: 62%;
  color: #999999;
}
.shopInfoBorderWrapper {
  background-color: #e4e8e9;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.shopInfoWrapper {
  background-color: white;
  padding-left: 0.8rem;
  padding-right: 0.66666667rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.shopInfoTitle {
  font-family: PingFangSC-Regular;
  font-size: 0.37333333rem;
  color: #666666;
}
.contact {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.addressWrapper {
  font-family: Microsoft YaHei;
  font-size: 0.32rem;
  color: #999999;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  flex-grow: 1;
  border-right: 1px solid #999999;
  padding-right: 0.26666667rem;
}
.addressImage {
  padding-right: 0.13333333rem;
  height: 0.37333333rem;
}
.addressImage img {
  object-fit: contain;
  height: 100%;
}
.tel {
  padding-right: 0.13333333rem;
  padding-left: 0.66666667rem;
  height: 0.37333333rem;
}
.tel img {
  object-fit: contain;
  height: 100%;
}
.shopIntroTitle {
  font-family: PingFangSC-Regular;
  font-size: 0.37333333rem;
  color: #666666;
  margin-top: 0.4rem;
  margin-bottom: 0.37333333rem;
  margin-left: 0.4rem;
}
.intro {
  font-family: Microsoft YaHei;
  font-size: 0.32rem;
  color: #999999;
  margin: 0;
  margin-left: 0.4rem;
  margin-right: 0.53333333rem;
}
.introImageWrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  width: 8.26666667rem;
}
.introImage {
  width: 100%;
  object-fit: contain;
}
.reward {
  background: #f35e30;
  font-family: Microsoft YaHei;
  color: #ffffff;
  font-size: 0.42666667rem;
  height: 1.30666667rem;
  display: flex;
  display: -webkit-flex;
  /* Safari */
  align-items: center;
  justify-content: center;
  width: 100%;
}
#call {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%) translateY(-50%);
  text-align: center;
  width: 80%;
  background: white;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 2px solid;
  border-color: #c8c8c8;
  border-color: rgba(200, 200, 200, 0.5);
  box-shadow: 0 0 0 4px rgba(200, 200, 200, 0.1);
  z-index: 2001;
}
.callHeader {
  font-size: 0.37333333rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.callCancel {
  color: #f35e3e;
  margin-top: 0.13333333rem;
  margin-bottom: 0.13333333rem;
}
.callItem {
  font-size: 0.37333333rem;
}
#dimmerOverlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  /* footer of bootstrap nav-fix-bottom is 1030 */
}
.carousel .item {
  /* .p2r(height, 320); */
}
.carousel-indicators {
  bottom: 0.4rem;
  margin-bottom: 0px;
}
.carousel-indicators li,
.carousel-indicators .active {
  margin-left: 0.24rem;
  margin-right: 0.24rem;
  padding: 0px;
  margin-top: 0;
  margin-bottom: 0;
  /* .p2r(width,14); */
  /* .p2r(height,14); */
  /* .p2r(border-radius,7); */
  /* width:8px; */
  /* height:8px; */
  /* border-radius:4px; */
}
[data-dpr="1"] .carousel-indicators li,
.carousel-indicators .active {
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
}
[data-dpr="2"] .carousel-indicators li,
.carousel-indicators .active {
  width: 14px;
  height: 14px;
  border-radius: 7px;
}
[data-dpr="3"] .carousel-indicators li,
.carousel-indicators .active {
  width: 21px;
  height: 21px;
  border-radius: 10.5px;
}
.carousel-inner > .item > img {
  width: 100%;
  /* height:100%; */
  height: auto;
  object-fit: fill;
}
#footer {
  position: fixed;
  bottom: 0;
  height: 1.33333333rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #f6f6f6;
  color: #999999;
}
.footerItem {
  padding-top: 0.2rem;
  text-align: center;
}
.footerItemImage {
  height: 0.53333333rem;
}
.footerItemImage > img {
  object-fit: contain;
  height: 100%;
}
.footerItemPActive {
  color: #f35e3e;
}
