a,
a:link,
a:hover {
  text-decoration: none !important;
  color: inherit;
}
html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: PingFangSC-Medium, Microsoft YaHei, sans-serif;
}
.header {
  margin-top: 0.06666667rem;
  width: 100%;
  background: url("../images/dianpu_img_bg@3x.png") no-repeat center center;
  background-size: 100% 100%;
  height: 4rem;
  /* display:flex; */
  /* display:-webkit-flex; */
  /* align-items:center; */
}
#header1Wrapper {
  margin: auto;
}
.header1 {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.avatar {
  margin-top: 0.4rem;
  width: 1.52rem;
}
.avatarImg {
  width: 100%;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  object-fit: contain;
  border: 5px solid;
  border-color: #ffffff;
  border-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
}
.name {
  margin-top: 0.26666667rem;
  color: #aaaaaa;
  font-size: 0.37333333rem;
}
#favoriteWrapper {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  justify-content: space-around;
}
.phantom {
  visiblility: hidden;
}
.favorite {
  margin-top: 0.13333333rem;
  padding: 0.06666667rem;
  padding-left: 0.26666667rem;
  padding-right: 0.26666667rem;
  color: #eeeeee;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  background: #f35e3e;
  /* /\* position:absolute; *\/ */
  /* left:50%; */
  /* transform:translate(-50%,0); */
}
.favoriteUsers {
  position: absolute;
  /* position:element("#header1Wrapper"); */
  /* transform:translateX(100%); */
  /* .p2r(margin-top,10); */
  padding-bottom: 0.06666667rem;
  /* .p2r(left,50); */
  left: 62%;
  color: #999999;
}
.shopInfoBorderWrapper {
  background-color: #e4e8e9;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.shopInfoWrapper {
  background-color: white;
  padding-left: 0.8rem;
  padding-right: 0.66666667rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.shopInfoTitle {
  font-family: PingFangSC-Regular;
  font-size: 0.37333333rem;
  color: #666666;
}
.contact {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.addressWrapper {
  font-family: Microsoft YaHei;
  font-size: 0.32rem;
  color: #999999;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  flex-grow: 1;
  border-right: 1px solid #999999;
  padding-right: 0.26666667rem;
}
.addressImage {
  padding-right: 0.13333333rem;
}
.tel {
  padding-right: 0.13333333rem;
  padding-left: 0.66666667rem;
}
.shopIntroTitle {
  font-family: PingFangSC-Regular;
  font-size: 0.37333333rem;
  color: #666666;
  margin-top: 0.4rem;
  margin-bottom: 0.37333333rem;
  margin-left: 0.4rem;
}
.intro {
  font-family: Microsoft YaHei;
  font-size: 0.32rem;
  color: #999999;
  margin: 0;
  margin-left: 0.4rem;
  margin-right: 0.53333333rem;
}
.introImageWrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  width: 8.26666667rem;
}
.introImage {
  width: 100%;
  object-fit: contain;
}
.reward {
  background: #f35e30;
  font-family: Microsoft YaHei;
  color: #ffffff;
  font-size: 0.42666667rem;
  height: 1.30666667rem;
  display: flex;
  display: -webkit-flex;
  /* Safari */
  align-items: center;
  justify-content: center;
}
