a,
a:link,
a:hover {
  text-decoration: none !important;
  color: inherit;
}
html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: PingFangSC-Medium, Microsoft YaHei, sans-serif;
}
/* ul */
.shopItemList {
  margin: 0.4rem;
}
/* li */
.shopItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 0.26666667rem;
  padding-bottom: 0.26666667rem;
}
.shopItem + .shopItem {
  border-top: 1px solid;
  /* border-top: 0.0133333333333333rem solid; */
  border-color: #eee;
}
.shopItemLogo {
  margin-right: 0.4rem;
  width: 2.4rem;
}
.shopItemLogo > img {
  object-fit: contain;
  width: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
}
.shopItemTextContents {
  flex-grow: 1;
}
.shopItemName {
  font-size: 0.42666667rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.26666667rem;
  line-height: 100%;
  color: #333;
}
.shopItemHot {
  display: inline-block;
  vertical-align: middle;
  height: 0.42666667rem;
  width: 0.42666667rem;
}
.shopItemStar {
  margin-top: 0.13333333rem;
  margin-right: 0.26666667rem;
  margin-bottom: 0.06666667rem;
}
.shopItemHot > img {
  object-fit: contain;
  height: 100%;
}
.shopItemDistance,
.shopItemDistance > p,
.shopItemFree {
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
}
.shopItemDistance > p {
  margin: 0;
  margin-left: 0.06666667rem;
  margin-right: 0.13333333rem;
}
.shopItemDistance > img {
  object-fit: contain;
  height: 0.42666667rem;
}
.inline {
  display: inline-block;
}
.shopItemFree {
  padding-left: 0.18666667rem;
  padding-right: 0.18666667rem;
  padding-top: 0.13333333rem;
  padding-bottom: 0.13333333rem;
  color: #ffffff;
  background-color: #f35e3e;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}
.shopItemLuckyBtn {
  width: 2.05333333rem;
  height: 0.72rem;
  line-height: 0.72rem;
  font-size: 0.37333333rem;
  color: #f35e3e;
  border: 2px solid;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  text-align: center;
  align-self: flex-end;
}
.lr {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #999;
}
.shopItemTag {
  margin-bottom: 0.13333333rem;
}
.shopItemStar,
span.stars,
span.stars span {
  height: 0.42666667rem;
}
.shopItemStar {
  display: flex;
  align-items: center;
  color: #999;
}
span.stars {
  display: inline-block;
  background: url("../images/star_gray.png") 0 0 repeat-x;
  background-size: auto 100%;
  width: 2.13333333rem;
}
span.stars span {
  display: inline-block;
  background: url("../images/star.png") 0 0 repeat-x;
  background-size: auto 100%;
}
